---
layout: default
title: pGina
pageid: Home
---

<div id="normalcontent">
  <h3><span>Welcome to the new pGina site</span></h3>
  <div class="contentarea">
    <p>
      With the move to a new version of pGina (see below!), we've moved on from our sourceforge
      roots and found a new location in Github.  If you're looking for version
      1.x or 2.x information, the Sourceforge site remains available here: 
      <a href="http://pgina.sourceforge.net">http://pgina.sourceforge.net</a>. 
    </p>
  </div>
</div>

<div class="divider1"></div>

{% for p in site.posts %}
<div class="post">
	<h4>{{ p.title }}</h4>
	<div class="contentarea">
	<div class="details">Posted by {{ p.author }} on 
	{{ p.date | date: "%B %d, %Y" }}</div>
{{ p.content }}
	</div>
</div>

{% if forloop.last != true %}<div class="divider2"></div>{% endif %}
{% endfor %}
