<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

	zenlike1.0 by nodethirtythree design
	http://www.nodethirtythree.com

-->
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<title>pGina</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" type="text/css" href="default.css" />
</head>
<body>

<div id="outer">

	<div id="header">
		<div id="headercontent">
			<h1>pGina</h1>
			<h2>Open Source Windows Authentication</h2>
		</div>
		<div id="logo"><img src="images/pginalogo.png" /></div>
	</div>

	
	<div id="menu">
		<!-- HINT: Set the class of any menu link below to "active" to make it appear active -->
		<ul>
			<li><a href="index.html"{% if page.pageid == "Home" %} class="active"{%endif%}>Home</a></li>
			<li><a href="news.html"{% if page.pageid == "News" %} class="active"{%endif%}>News</a></li>
			<li><a href="#">Download</a></li>
			<li><a href="#">Documentation</a></li>
		</ul>
	</div>
	<div id="menubottom"></div>

	
	<div id="content">
	    
	    {% if page.pageid == "Home" %}
	    <!-- Normal content: Stuff that's not going to be put in the left or right column. -->
		<div id="normalcontent">
			<h3><strong>pGina</strong> <span>Open Source Windows Authentication</span></h3>
			<div class="contentarea">
				<!-- Normal content area start -->

				<img src="images/pic1.jpg" class="left" alt="A chinese lion statue" />
				<p>pGina is ... lightweight, tableless, fluid W3C-compliant website design by <a href="http://www.nodethirtythree.com/">NodeThirtyThree Design</a>. All photos came from <a href="http://www.pdphoto.org/">PDPhoto</a> and the background texture is from <a href="http://www.mayang.com/textures/">Mayang's texture site</a>. You're free to dissect, manipulate and use it to your heart's content. We only ask that you link back to <a href="http://www.nodethirtythree.com/">our site</a> in some way. If you find this design useful, feel free to let us know :)</p>
				<p>You can find more of our free work at this site or <a href="http://www.nodethirtythree.com/">our site</a>, or some of our commercial work on <a href="http://www.4templates.com/?aff=n33">4Templates.com</a>, a commercial website template site.</p>

				<!-- Normal content area end -->
			</div>
		</div>

	
		<div class="divider1"></div>
        {% endif %}
		
        <!-- Primary content: Stuff that goes in the primary content column (by default, the left column) -->
		<div id="primarycontainer">
			<div id="primarycontent">
				<!-- Primary content area start -->

